extends layout

block content
	h3
		= "Details about a " + event_select.type + " by " + event_select.actor.login
	strong= "Source Repo:"
	p
		a(href=event_select.repo.url)
			=event_select.repo.name
	strong= "Organization Info:"
	p
		a(href=event_select.repo.url)
			= event_select.org.login
	strong= "Payload Information"
	ul
		li= "Reference type: " + event_select.payload.ref_type
		li= "Master branch: " + event_select.payload.master_branch
		li= "Pusher type: " + event_select.payload.pusher_type